body
{
    background: url(../images/bg.png);
}
.site
{
    font-family: 'Holtwood One SC', 'sans-serif';
}
.text-logo
{
    text-align: center;
    font-family: 'holtwood One SC' sans-serif;
    color: #e7480f;
    text-shadow: 2px 2px #ffd301;
    font-size: 40px 0px;
}
.text-logo .glyphicon
{
    color: #ffd301;
    text-shadow: 0px 0px #ffd301;
}
.nav
{
    margin-bottom: 40px;
}
.thumbnail img
{
    background: #ffd301;
}
